body {
    overflow-x: hidden;
}

.user {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 10px;
    }
    
.header { grid-area: 1 / 1 / 1 / 6; 
    text-align: center;
    height: 25%;
    padding: 25px;
    background: url(https://data.whicdn.com/images/330576702/original.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
    justify-content: center;
    margin: auto;
    box-shadow: 2px 2px 2px 2px;
}

.left-side-bar { grid-area: 2 / 1 / 6 / 2; }
.main { grid-area: 2 / 2 / 6 / 5; }
.right-side-bar { grid-area: 2 / 5 / 6 / 6; }

.image-container {
width: 100%;
display: flex;
justify-content: center;
padding: 10px;
}

.image-card {
width: 300px;
border: 1px solid #00000020;
border-radius: 2px;
text-align: left;
background-color: white;
margin: 10px;
}

.button-container{
    text-align: right;
}

.image {
width: 300px;

}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user {
text-align: left;
padding: 15px 10px;
font-size: 0.9rem;
font-weight: 600;
color: #000000dd;
}

.likes-section {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10px;
}

.likes {
font-size: 0.9rem;
font-weight: 600;
}

.like-button {
color: rgb(255, 127, 80);
font-size: 1.5rem;
border: none;
background: none;
transition: color 300ms;
cursor: pointer;
}

.like-button:hover {
color: rgb(241, 71, 19);
}

.like-button:active {
color: rgb(253, 159, 124);
}

.like-button:focus {
outline: none;
}

.comments {
list-style-type: none;
margin-left: 0;
padding-left: 10px;
font-size: 0.85rem;
}

.comments li {
margin: 2px 0;
letter-spacing: 0.2px;
}

.comment-form {
width: 100%;
border-top: 1px solid #00000020;
padding: 5px 0px;
margin-top: 10px;
}

.comment-input {
width: 83%;
border: none;
font-size: 0.8rem;
}

.comment-input:focus {
outline: none;
}

.comment-button {
border: none;
font-size: 1rem;
font-weight: 600;
background: none;
cursor: pointer;
}

.comment-button:hover {
color: rgb(37, 68, 245);
}

.comment-button:active {
color: rgb(127, 146, 250);
}

.comment-button:focus {
outline: none;
}
     

.bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
  }
  
    .bird-one {
      animation-duration: 1s;
      animation-delay: -0.5s;		
    }
    
    .bird-two {
      animation-duration: 0.9s;
      animation-delay: -0.75s;
    }
    
    .bird-three {
      animation-duration: 1.25s;
      animation-delay: -0.25s;
    }
    
    .bird-four {
      animation-duration: 1.1s;
      animation-delay: -0.5s;
    }
  
  
  .bird-container {
    position: absolute;
    top: 10%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
 
  .bird-container-one {
		animation-duration: 15s;
		animation-delay: 0;
	}
	
	.bird-container-two {
		animation-duration: 16s;
		animation-delay: 1s;
	}
	
	.bird-container-three {
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}
	
	.bird-container-four {
		animation-duration: 16s;
		animation-delay: 10.25s;
	}
	
  
  
  @keyframes fly-cycle {
    
    100% {
      background-position: -900px 0;
    }
    
  }
  
  @keyframes fly-right-one {
    
    0% {
      transform: scale(0.3) translateX(-10vw);
    }
    
    10% {
      transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
    
    20% {
      transform: translateY(0vh) translateX(30vw) scale(0.5);
    }
    
    30% {
      transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
    
    40% {
      transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
    
    50% {
      transform: translateY(0vh) translateX(90vw) scale(0.6);
    }
    
    60% {
      transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
    
    100% {
      transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
    
  }
  
  @keyframes fly-right-two {
    
    0% {
      transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }
    
    10% {
      transform: translateY(0vh) translateX(10vw) scale(0.4);
    }
    
    20% {
      transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }
    
    30% {
      transform: translateY(1vh) translateX(50vw) scale(0.45);
    }
    
    40% {
      transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }
    
    50% {
      transform: translateY(0vh) translateX(90vw) scale(0.45);
    }
    
    51% {
      transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
    
    100% {
      transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
    
  }

  .add-picture {   
    text-align: center; 
    margin: 5px 5px;
    display: inline;
    position: center;
    padding: 4px 3em;
    appearance: none;
    border: 1px solid black;
    border-radius: 25px;
    background-color: blue;
    color:  white;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    cursor: pointer;
}

.add-picture:hover {
    background-color: white;
    color: blue;
    transition: .5s;
}

.add-user {   
    text-align: center; 
    margin: 5px 5px;
    display: inline;
    position: center;
    padding: 4px 3em;
    appearance: none;
    border: 1px solid black;
    border-radius: 25px;
    background-color: blue;
    color:  white;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    cursor: pointer;
}

.add-user:hover {
    background-color: white;
    color: blue;
    transition: .5s;
}

.update-user {   
    text-align: center; 
    margin: 5px 5px;
    display: inline;
    position: center;
    padding: 4px 3em;
    appearance: none;
    border: 1px solid black;
    border-radius: 25px;
    background-color: blue;
    color:  white;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    cursor: pointer;
}

.update-user:hover {
    background-color: white;
    color: blue;
    transition: .5s;
}

.delete-user {   
    text-align: center; 
    margin: 5px 5px;
    display: inline;
    position: center;
    padding: 4px 3em;
    appearance: none;
    border: 1px solid black;
    border-radius: 25px;
    background-color: red;
    color:  white;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    cursor: pointer;
}

.delete-user:hover {
    background-color: black;
    color: red;
    transition: .5s;
}

.delete-button {
    font-size: 1.5rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
}
.update-button {
    font-size: 1.5rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
}

#plane {
    background-color: lightblue;
    height: 20px;
    position: absolute;
    width: 40px;
  }
  
  #game {
    background-color: lightblue;
    height: 25px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: auto;
  }
  
  #easter-egg{
      width: 100%;
      margin: 0px 0px;

  }

  .picture-form{
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
  }
  .update-form{
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
  }
  .user-form{
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
  }
  .update-user-form{
    background-color:lightblue;
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
  }
  .delete-form{
    background: red;
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
  }